<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Cubes</title>
  <link rel="stylesheet" href="public/css/styles.css">
</head>
<body>
  <%- include('partials/header') %>

  <h1>My Cubes.</h1>
  <p>My cubes Page.</p>
  <%- include ('partials/footer') %>
</body>
</html>
